nav {
    font-size: 1.5rem;
    background-color: #24292f;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-right: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    flex-grow: 0.2;
}

nav ul li {
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
}

nav ul li a i {
    padding-right: 0.4rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    
}

nav ul li a:hover {
    color: #cacaca;
}  

.primary-icon {
    height: 40px;
    padding-top: 0.4rem;
    padding-left: 2rem;
}

.sell-btn {
    width: auto;
    background-color: rgb(28, 153, 161);
    color: #ffffff; 
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px; 
    border-radius: 5px;
    border: solid 2px #ffffff;
    cursor: pointer;
}

.sell-btn:hover {
    background-color: turquoise;
    transition: 0.5s;
}

.menu {
    display: none;
}

.menu-line {
    width: 25px;
    height: 5px;
    background-color: white;
    margin-bottom: 5px;
}

.user-name {
    font-size: 1.3rem;
    font-weight: bold
}

.user-name-icon {
    color: rgb(0, 245, 0);
}

.user-name-text {
    color: rgb(0, 255, 0);
}

.subnav-content {
    background-color: rgb(28, 153, 161);
    display: none;
    flex-direction: column;
    position: absolute;
    border: 1px solid white;
    border-radius: 5px; 
    text-align: center;
    margin-left: 0.7rem;
    margin-top: 0.2rem;
}

.subnav-content a {
    font-size: 18px;
    padding: 0.5rem;
    border-bottom: 1px solid white;
}

.user-name:hover .subnav-content {
    display: flex;
    transition: 0.5s;
}

.user-name:hover .user-name-icon {
    color: rgb(28, 153, 161);
}

.user-name:hover .user-name-text {
    color: rgb(28, 153, 161);
}

.color-1 {
    color: black;
}

.color-2 {
    color: rgb(243, 220, 190);
}

.color-3 {
    color: rgb(189, 0, 0);
}


@media all and (max-width: 767px) {
    nav {
        flex-direction: column;
        min-height: 55px;
    }

    nav ul {
        display: block;
        width: 100%;
        margin-left: 5.5%
    }

    nav ul li {
        margin-top: 27px;
        border-top: 1px solid white;
        padding-top: 30px;
    }

    .menu {
        display: block;
        position: absolute;
        right: 25px;
        top: 15px;
    }

    .active {
        display: block;
    }

    .primary-icon {
        height: 37px;
        padding-top: 0.6rem;
        position: absolute;
        left: -3%;
    }

    .sell-btn {
        margin-bottom: 20px;
    }

    .subnav-content {
        position: relative;
        justify-content: space-around;
    }

    .subnav-content a {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
}