<nav>
    <a href="">
        <img class="primary-icon" src="./assets/images/logo.png"/>
    </a> <br>
    <ul *ngIf="show">      
        <li><a href=""><i class="fas fa-home"></i>Home</a></li>
        <li><a href=""><i class="fas fa-question-circle"></i>Contact</a></li>
        <li *ngIf="!isLogged()"><a routerLink="/user/login"><i class="fas fa-user"></i>Authentication</a></li>
        <li class="user-name" *ngIf="isLogged()">
            <a routerLink="/user/login">
                <i class="fas fa-chevron-down user-name-icon"></i>
                <span class="user-name-text">{{ authService.email$ | async }}</span>
            </a>
            <div class="subnav-content">
                <a routerLink="/user-account/details-account"><i class="fas fa-user-edit color-1"></i>Edit account</a>
                <a href="#"><i class="fas fa-envelope color-2"></i>Messages</a>
                <a (click)="onLogout()"><i class="fas fa-sign-out-alt color-3"></i>Logout</a>
            </div>
        </li>    
        <li><button class="sell-btn"><i class="fas fa-plus"></i> SELL</button></li>
    </ul>

    <div class="menu" (click)="onShow()">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
    </div>
</nav>

<router-outlet></router-outlet>