@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

    <div class="transparent-box" style="margin-top:-0.9rem; margin-left:-2.4rem;">
        <table style="width:100%">
            <tr>
                <td>
                    <label for="add_name" style="color:white; font-size:25px; margin-left:3rem; margin-top:-0.2rem;">Name Ad:</label>
                    <br />
                    <input type="text" id="add_name" name="add_name" style="width:30rem; height:1.7rem; margin-left:3rem;">
                    <br />
                </td>
                <td>
                    <label for="add_model" style="color:white; font-size:25px; margin-left:7rem; margin-top:-0.2rem;">Model:</label>
                    <input type="text" id="add_model" name="add_model" style="width:30rem; height:1.7rem; margin-left:7rem;">
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="add_city" style="color:white; font-size:25px; margin-left:3rem; margin-top:0.5rem;">City:</label>
                    <br />
                    <input type="text" id="add_city" name="add_city" style="width:30rem; height:1.7rem; margin-left:3rem;">
                    <br />
                </td>
                <td>
                    <label for="add_fueltype" style="color:white; font-size:25px; margin-left:7rem;">Fuel Type:</label>
                    <input type="text" id="add_fueltype" name="add_fueltype" style="width:30rem; height:1.7rem; margin-left:7rem;">
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="add_country" style="color:white; font-size:25px; margin-left:3rem; margin-top:0.5rem;">Country:</label>
                    <br />
                    <input type="text" id="add_country" name="add_country" style="width:30rem; height:1.7rem; margin-left:3rem;">
                    <br />
                </td>
                <td>
                    <label for="add_body" style="color:white; font-size:25px; margin-left:7rem;">Body:</label>
                    <input type="text" id="add_body" name="add_body" style="width:30rem; height:1.7rem; margin-left:7rem;">
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="add_address" style="color:white; font-size:25px; margin-left:3rem; margin-top:0.5rem;">Address:</label>
                    <br />
                    <input type="text" id="add_address" name="add_address" style="width:30rem; height:1.7rem; margin-left:3rem;">
                    <br />
                </td>
                <td>
                    <label for="add_year" style="color:white; font-size:25px; margin-left:7rem;">Year:</label>
                    <input type="text" id="add_year" name="add_year" style="width:30rem; height:1.7rem; margin-left:7rem;">
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="add_mobile" style="color:white; font-size:25px; margin-left:3rem; margin-top:0.5rem;">Mobile:</label>
                    <br />
                    <input type="text" id="add_mobile" name="add_mobile" style="width:30rem; height:1.7rem; margin-left:3rem;">
                    <br />
                </td>
                <td>
                    <label for="add_km" style="color:white; font-size:25px; margin-left:7rem;">Km:</label>
                    <input type="text" id="add_km" name="add_km" style="width:30rem; height:1.7rem; margin-left:7rem;">
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="add_mark" style="color:white; font-size:25px; margin-left:3rem; margin-top:0.5rem;">Mark:</label>
                    <br />
                    <input type="text" id="add_mark" name="add_mark" style="width:30rem; height:1.7rem; margin-left:3rem;">
                    <br />
                </td>
                <td>
                    <label for="add_price" style="color:white; font-size:25px; margin-left:7rem;">Price:</label>
                    <input type="text" id="add_price" name="add_price" style="width:30rem; height:1.7rem; margin-left:7rem;">
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="add_photos" style="color:white; font-size:25px; margin-left:3rem; margin-top:0.5rem;">Photos:</label>
                    <br />
                    <input type="text" id="add_photos" name="add_photos" style="width:30rem; height:4.7rem; margin-left:3rem;">
                    <br />
                </td>
                <td>
                    <label for="add_describe" style="color:white; font-size:25px; margin-left:7rem;">Describe:</label>
                    <input type="text" id="add_describe" name="add_describe" style="width:30rem; height:4.7rem; margin-left:7rem;">
                    <br />
                </td>
            </tr>
        </table>
        <a href="#" class="btn btn-add navbar-transparent" style="margin-top:0.8rem; margin-left:25.8rem; width:20rem; color:black; font-weight:bold;">Add New Ad</a>
    </div>
