@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

@model CarModel

    <div class="transparent-box" style="margin-top:-0.9rem; margin-left:3.4rem;">
        <h1 style="color:black; font-size:90px; font-style:oblique; margin-left:16.7rem;">Add New Ad</h1>
        <img src="~/images/logoauto.png" width="110" height="110" style="margin-top:-8rem; margin-left:8.7rem;"/>
        <form method="post">
            <div class="form-group">
                <label asp-for="nameAd" style="margin-left:3rem; font-size:40px; color:white; margin-top:2rem;">Name Ad:</label>
                <input asp-for="nameAd" class="form-control" style="width:50rem; margin-left:3rem;" />
            </div>
            <div class="form-group">
                <label asp-for="Country" style="margin-left:3rem; font-size:40px; color:white;">Country:</label>
                <input asp-for="Country" class="form-control" style="width:50rem; margin-left:3rem;" />
            </div>
            <div class="form-group">
                <label asp-for="City" style="margin-left:3rem; font-size:40px; color:white;">City:</label>
                <input asp-for="City" class="form-control" style="width:50rem; margin-left:3rem;" />
            </div>
            <div class="form-group">
                <label asp-for="Address" style="margin-left:3rem; font-size:40px; color:white;">Address:</label>
                <input asp-for="Address" class="form-control" style="width:50rem; margin-left:3rem;" />
            </div>
            <div class="form-group">
                <label asp-for="Mobile" style="margin-left:3rem; font-size:40px; color:white;">Mobile:</label>
                <input asp-for="Mobile" class="form-control" style="width:50rem; margin-left:3rem;" />
            </div>
            <div class="form-group">
                <label asp-for="Mark" style="margin-left:3rem; font-size:40px; color:white;">Mark:</label>
                <input asp-for="Mark" class="form-control" style="width:50rem; margin-left:3rem;" />
            </div>
            <div class="form-group">
                <label asp-for="Model" style="margin-left:3rem; font-size:40px; color:white;">Model:</label>
                <input asp-for="Model" class="form-control" style="width:50rem; margin-left:3rem;" />
            </div>
            <div class="form-group">
                <label asp-for="Fuel" style="margin-left:3rem; font-size:40px; color:white;">Fuel Type:</label>
                <input asp-for="Fuel" class="form-control" style="width:50rem; margin-left:3rem;" />
            </div>
            <div class="form-group">
                <label asp-for="Body" style="margin-left:3rem; font-size:40px; color:white;">Body:</label>
                <input asp-for="Body" class="form-control" style="width:50rem; margin-left:3rem;" />
            </div>
            <div class="form-group">
                <label asp-for="Year" style="margin-left:3rem; font-size:40px; color:white;">Year:</label>
                <input asp-for="Year" class="form-control" style="width:50rem; margin-left:3rem;" />
            </div>
            <div class="form-group">
                <label asp-for="Km" style="margin-left:3rem; font-size:40px; color:white;">Km:</label>
                <input asp-for="Km" class="form-control" style="width:50rem; margin-left:3rem;" />
            </div>
            <div class="form-group">
                <label asp-for="Price" style="margin-left:3rem; font-size:40px; color:white;">Price:</label>
                <input asp-for="Price" class="form-control" style="width:50rem; margin-left:3rem;" />
            </div>
            <div class="form-group">
                <label asp-for="Describe" style="margin-left:3rem; font-size:40px; color:white;">Describe:</label>
                <textarea asp-for="Describe" class="form-control" style="width:50rem; margin-left:3rem; height:15rem;"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Add New Ad" class="btn btn-add" style="margin-top:0.8rem; margin-left:18.5rem; width:20rem; height:4rem; color:black; font-weight:bold;"/>
            </div>
        </form>
    </div>