.login-box {
    display: flexbox;
    flex-direction: column;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    border: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 1rem;  
    padding-bottom: 1rem;
    text-align: center;
}

.login-box label {
    color: white;
    font-weight: 500;
    float: left;
    padding-left: 10%;
}

.login-box label span {
    font-size: 1rem;
}

.login-box label i {
    font-size: 1rem; 
    padding-right: 0.2rem;
    padding-bottom: 0.3rem;
}

.login-box input {
    width: 80%;
    border-radius: 5px;
    font-size: 13px;
    padding: 0.1rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.login-box input:focus {
    outline: solid turquoise 0.15rem;
}

.login-box button i {
    font-size: 15px;
}

.login-btn {
    background-color: rgb(28, 153, 161);
    width: auto;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    
    border: 2px solid white;
    border-radius: 5px;
}

.login-btn:hover {
    background-color: turquoise;
    transition: 0.5s;
}

.other-login-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.other-login-options hr {
    color: white; 
    height: 2px; 
    background-color: white;
    margin-top: 10%
}

.other-login-options h3 {
    text-align: center; 
    color: white; 
    padding-top: 10px; 
    padding-bottom: 5px;
}

.icons a i {
    color: white;
    font-size: 25px;
    padding: 1rem;
}

.icons a i:hover {
    color: rgb(28, 153, 161);
    transition: 0.5s;
}



@media only screen and (max-width:319px)  {
    
}

@media only screen and (min-width:320px) and (max-width:767px)  { 
    .login-box {
        width: 80%;
    }

    .login-box input {
        padding: 0.3rem;
    }
}

@media only screen and (min-width:768px) and (max-width:1073px)  { 
    .login-box {
        width: 60%;
    }

    .login-box input {
        padding: 0.3rem;
    }
}

@media only screen and (min-width:1074px) and (max-width:1899px) { 
    .login-box {
        width: 80%;
    }

    .login-box input {
        font-size: 15px;
        padding: 0.2rem;
    }

    .icons a i {
        font-size: 30px;
    }
}

@media only screen and (min-width:1900px) { 

 }


