<div class="details-form">
    <div class="input-group">
        <label>Mark</label>
        <select>
            <option>Option 1</option>
            <option>Option 2</option>
        </select>
    </div>

    <div class="input-group">
        <label>Model</label>
        <select>
            <option>Option 1</option>
            <option>Option 2</option>
        </select>
    </div>

    <div class="input-group">
        <label>HP</label>
        <input type="text">
    </div>

    <div class="input-group">
        <label>Cm3</label>
        <input type="text">
    </div>

    <div class="input-group">
        <label>Gearbox</label>
        <select>
            <option>Option 1</option>
            <option>Option 2</option>
        </select>
    </div>

    <div class="input-group">
        <label>Year</label>
        <input type="text">
    </div>

    <div class="input-group">
        <label>Km</label>
        <input type="text">
    </div>

    <div class="input-group">
        <label>Body</label>
        <select>
            <option>Option 1</option>
            <option>Option 2</option>
        </select>
    </div>

    <div class="input-group">
        <label>Color body</label>
        <input type="text">
    </div>
</div>

<div class="short-description">
    <label>Short description</label>
    <input type="text">
</div>

<div class="long-description">
    <label>Description</label>
    <textarea></textarea>
</div>

<div class="price-box">
    <label>Price</label>
    <input type="text">
</div>

<div class="btn-box">
    <button class="sell-btn"><i class="fas fa-plus"></i> SELL</button>
</div>