<form [formGroup]="announcementForm" autocomplete="off" (submit)="createAnnouncement()">  
    <div class="details-form">
        <div class="form-align" formGroupName="motorcycle">
            <div class="input-group">
                <label>Mark</label>
                <select formControlName="mark">
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>
            <div class="input-group">
                <label>Model</label>
                <select formControlName="model">
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>
            <div class="input-group">
                <label>HP</label>
                <input type="number" formControlName="hp">
            </div>
            <div class="input-group">
                <label>Cm3</label>
                <input type="number" formControlName="cm3">
            </div>
            <div class="input-group">
                <label>Gearbox</label>
                <select formControlName="gearbox">
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>
            <div class="input-group">
                <label>Year</label>
                <input type="number" formControlName="year">
            </div>
            <div class="input-group">
                <label>Km</label>
                <input type="number" formControlName="km">
            </div>
            <div class="input-group">
                <label>Body</label>
                <select formControlName="body">
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>
            <div class="input-group">
                <label>Color body</label>
                <input type="text" formControlName="colorBody">
            </div>
        </div>
    </div>

    <div formGroupName="announcement">
        <div class="short-description">
            <label>Short description</label>
            <input type="text" formControlName="title">
        </div>
        <div class="long-description">
            <label>Description</label>
            <textarea formControlName="description"></textarea>
        </div>
        <div class="price-box">
            <label>Price</label>
            <input type="number" formControlName="price">
        </div>
        <div class="btn-box">
            <button class="sell-btn"><i class="fas fa-plus"></i> SELL</button>
        </div>
    </div>
</form>  