<div class="announcement-box" routerLink='/view-car-announcement'>
    <div class="image-announcement">
        <img src="./assets/images/rubicon1.jpg">
    </div>
    <div class="details-announcement">
        <div class="announcement-title">
            <h2>Jeep Rubicon</h2>
        </div>
        <div class="car-features">
            <ul>
                <li class="car-feature">
                    <span><b>Mark:</b> Jeep</span>
                    <span><b>Model:</b> Rubicon</span>
                    <span><b>Euro:</b> 6</span>
                    <span><b>HP:</b> 320</span>
                </li>
                <li class="car-feature"> 
                    <span><b>Year:</b> 2018</span>
                    <span><b>Km:</b> 25 350</span>
                    <span><b>Cm3:</b> 5 600</span>
                    <span><b>Fuel:</b> Petrol</span>
                </li>
                <li>
                    <span class="country-announcement"><i>Romania</i></span>
                    <span class="price-announcement">43 500 EUR</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="announcement-box" routerLink='/view-car-announcement'>
    <div class="image-announcement">
        <img src="./assets/images/c-class.jpg">
    </div>
    <div class="details-announcement">
        <div class="announcement-title">
            <h2>Mercedes-Benz C Class</h2>
        </div>
        <div class="car-features">
            <ul>
                <li class="car-feature">
                    <span><b>Mark:</b> Mercedes</span>
                    <span><b>Model:</b> C Class</span>
                    <span><b>Euro:</b> 5</span>
                    <span><b>HP:</b> 170</span>
                </li>
                <li class="car-feature"> 
                    <span><b>Year:</b> 2016</span>
                    <span><b>Km:</b> 115 000</span>
                    <span><b>Cm3:</b> 2 200</span>
                    <span><b>Fuel:</b> Petrol</span>
                </li>
                <li>
                    <span class="country-announcement"><i>Germany</i></span>
                    <span class="price-announcement">21 000 EUR</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="announcement-box" routerLink='/view-car-announcement'>
    <div class="image-announcement">
        <img src="./assets/images/gle.jpg">
    </div>
    <div class="details-announcement">
        <div class="announcement-title">
            <h2>Mercedes-Benz GLE</h2>
        </div>
        <div class="car-features">
            <ul>
                <li class="car-feature">
                    <span><b>Mark:</b> Mercedes</span>
                    <span><b>Model:</b> GLE</span>
                    <span><b>Euro:</b> 6</span>
                    <span><b>HP:</b> 240</span>
                </li>
                <li class="car-feature"> 
                    <span><b>Year:</b> 2017</span>
                    <span><b>Km:</b> 95 700</span>
                    <span><b>Cm3:</b> 3 000</span>
                    <span><b>Fuel:</b> Petrol</span>
                </li>
                <li>
                    <span class="country-announcement"><i>UK</i></span>
                    <span class="price-announcement">55 000 EUR</span>
                </li>
            </ul>
        </div>
    </div>
</div>