.container {
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

.container h3 {
    color: black;
}

.slide-box {
    width: 100%;
    height: 500px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(224, 224, 228);
}

.image-box-1 {
    display: flex;
    width: 100%;
    height: 400px;
}

.image-box-1 i {
    font-size: 50px;
    color: rgb(73, 72, 72);
    margin: auto;
    cursor: pointer;
}

.image-box-1 i:hover {
    color: rgb(0, 0, 0);
}

.image-slide {
    width: 80%;
}

.image-slide img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.image-box-2 {
    display: flex;
    height: 100px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.image-box-2 img {
    width: 100%;
    height: 100%;
}

.small-image-box {
    width: 50%;
    margin: 5px;
    height: auto;
    flex-grow: 1;
    border: 1px solid black;
    background-color: white;
}

.details-box {
    width: 40%;
    margin-left: 5%;
    margin-top: 3%;
}

.details-box h2 {
    font-size: 3vh;
    padding-bottom: 20px;
}

.details-box h1 {
    color: red;
    font-size: 4vh;
    padding-bottom: 40px;
}

.car-details {
    display: flex;
    flex-direction: column;
}

.car-details label {
    color: rgb(73, 72, 72);
    font-weight: bold;
    font-size: 3vh;
    padding-bottom: 20px;
}

.seller-details {
    padding-top: 30px;
}

.email-btn {
    margin-right: 20px;
    background-color: firebrick;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.email-btn:hover {
    background-color: rgb(247, 17, 17);
    transition: 0.5s;
}

.phone-btn {
    background-color: green;
    font-size: 15px;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.phone-btn:hover {
    background-color: rgb(8, 185, 8);
    transition: 0.5s;
}
