.edit-box-header {
    text-align: center;
    padding-bottom: 1rem;
}

.edit-box-content {
    display: flex;
    flex-direction: column;
}

.edit-box-content label {
    padding-top: 0.5rem;
    font-size: 20px;
    margin-left: 24.5%;
}

.edit-box-content input {
    padding: 0.3rem;
    text-align: center;
    border: 1px solid dimgrey;
    border-radius: 5px;
    width: 50%;
    margin: auto;
}

.update-btn {
    width: auto;
    background-color: rgb(28, 153, 161);
    margin: auto;
    font-size: 20px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: white;
    font-weight: 600;
    margin-top: 3%;
    border: 2px solid rgb(167, 159, 159);
    border-radius: 5px;
    cursor: pointer;
}

.update-btn:hover {
    background-color: turquoise;
    transition: 0.5s;
}


@media all and (max-width: 767px) {
    .edit-box-header {
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 0.2rem;
        font-size: 1.5vh;
    }
    
    .edit-box-content label {
        padding-top: 0.5rem;
        font-size: 18px;
        margin-left: 5%;
    }
    
    .edit-box-content input {
        padding: 0.2rem;
        text-align: center;
        border: 1px solid dimgrey;
        border-radius: 5px;
        width: 90%;
        margin: auto;
    }
}

@media only screen and (min-width:768px) and (max-width:1200px)  { 
    .edit-box-content input {
        width: 80%;
    }

    .edit-box-content label {
        margin-left: 9%;
    }
}