<div class="contact-box">
    <div class="background-contact">
        <div class="form-contact">
            <div class="header-form">
                <h1>Contact Us</h1>
            </div>
            <div class="body-form">
                <div class="align-form">
                    <label>Full name</label>
                    <label>Email</label> <br>
                    <input type="text" /> 
                    <input type="text" />
                </div>
                <label>Subject</label> <br>
                <input type="text" />
                <label>Message</label> <br>
                <textarea></textarea> <br>
                <button class="contact-btn">Send</button>
            </div>
        </div>
    </div>
</div>