<div class="contact-box">
    <div class="background-contact">
        <div class="form-contact">
            <div class="header-form">
                <h1>Contact Us</h1>
            </div>
            <div class="body-form">
                <div class="align-form">
                    <label><i class="fas fa-pencil-alt"></i>Full name</label>
                    <label><i class="fas fa-envelope"></i>Email</label> <br>
                    <input type="text" /> 
                    <input type="text" />
                </div>
                <label><i class="fas fa-signature"></i>Subject</label> <br>
                <input type="text" />
                <label><i class="fas fa-comment-dots"></i>Message</label> <br>
                <textarea></textarea> <br>
                <button class="contact-btn">Send <i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>