.register-box {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    border: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.register-box label {
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding-left: 25px;
}

.register-box label i {
    font-size: 17px; 
    padding-right: 5px;
    padding-left: 4px;
}

.register-box input {
    width: 80%;
    margin-top: 5px;
    margin-left: 25px;
    border-radius: 5px;
    font-size: 13px;
    padding: 4px;
    text-align: center;
    margin-bottom: 20px;
}

.register-box select {
    width: 83%;
    margin-top: 5px;
    margin-left: 26px;
    border-radius: 5px;
    font-size: 15px;
    padding: 4px;
    text-align: left;
    margin-bottom: 20px;
}

.register-box button i {
    font-size: 15px;
}

.register-box input:focus {
    outline: solid turquoise 0.15rem;
}

.register-box select:focus {
    outline: solid turquoise 0.15rem;
}

.register-btn {
    background-color: rgb(28, 153, 161);
    width: auto;
    color: white;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    margin-left: 30%;
    border: 2px solid white;
    border-radius: 5px;
}

.register-btn:hover {
    background-color: turquoise;
    transition: 0.5s;
}



@media(max-width: 1300px) {
    .register-box label {
        font-size: 13px;
    }

    .register-box input {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 11px;
    }

    .register-btn {
        font-size: 15px;
    }
}