<div class="authentication-box">
    <div class="column-1">
        <div class="authentication-header">
            <a routerLink="/user/login"><i class="fas fa-user"></i>Login</a>
            <a routerLink="/user/register"><i class="fas fa-user-plus"></i>Register</a>
        </div>
        <router-outlet></router-outlet>
    </div>
    <div class="column-2" style="text-align: center;">
        <h1 style="font-size: 50px; color: black; font-style:oblique; padding-top: 50px;">
            Are you looking for the much desired car?</h1>
        <p style="font-weight: 500; font-size: 20px; padding-top: 10px; color: rgba(0, 0, 0, 0.788);">Here you will be able to find your much desired car. Start looking for your next car right now.</p>
    </div>
</div>


