.container {
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.category-btn {
    width: 15%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
}

.details-form {
    margin: auto;
    width: 80%;
    margin-top: 40px;
    background-color: turquoise;
}



@media all and (max-width: 1000px) {
    .category-btn {
        width: 30%;
        font-size: 15px;
    }
}


