<div class="announcement-box">
    <div class="image-announcement">
        <img src="./assets/images/volvo-truck.jpg">
    </div>
    <div class="details-announcement">
        <div class="announcement-title">
            <h2>Announcement title</h2>
        </div>
        <div class="car-features">
            <ul>
                <li class="car-feature">
                    <span>Mark</span>
                    <span>Model</span>
                    <span>Euro</span>
                    <span>HP</span>
                </li>
                <li class="car-feature"> 
                    <span>Year</span>
                    <span>Km</span>
                    <span>Cm3</span>
                    <span>Fuel</span>
                </li>
                <li>
                    <span class="country-announcement">Country</span>
                    <span class="price-announcement">Price</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="announcement-box">
    <div class="image-announcement">
        <img src="./assets/images/man-truck.jpg">
    </div>
    <div class="details-announcement">
        <div class="announcement-title">
            <h2>Announcement title</h2>
        </div>
        <div class="car-features">
            <ul>
                <li class="car-feature">
                    <span>Mark</span>
                    <span>Model</span>
                    <span>Euro</span>
                    <span>HP</span>
                </li>
                <li class="car-feature"> 
                    <span>Year</span>
                    <span>Km</span>
                    <span>Cm3</span>
                    <span>Fuel</span>
                </li>
                <li>
                    <span class="country-announcement">Country</span>
                    <span class="price-announcement">Price</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="announcement-box">
    <div class="image-announcement">
        <img src="./assets/images/daf-truck.jpg">
    </div>
    <div class="details-announcement">
        <div class="announcement-title">
            <h2>Announcement title</h2>
        </div>
        <div class="car-features">
            <ul>
                <li class="car-feature">
                    <span>Mark</span>
                    <span>Model</span>
                    <span>Euro</span>
                    <span>HP</span>
                </li>
                <li class="car-feature"> 
                    <span>Year</span>
                    <span>Km</span>
                    <span>Cm3</span>
                    <span>Fuel</span>
                </li>
                <li>
                    <span class="country-announcement">Country</span>
                    <span class="price-announcement">Price</span>
                </li>
            </ul>
        </div>
    </div>
</div>