<div class="search-box-content">
    <ul>
        <li>
            <div class="one-input">
                <select>
                    <option value="Country" selected disabled hidden>Country</option>
                    <option value="Romanian">Romanian</option>
                    <option value="Brazilia">Brazilia</option>
                    <option value="France">France</option>
                    <option value="Germany">Germany</option>
                </select>
            </div>
            <div class="one-input">
                <select>
                    <option value="Mark" selected disabled hidden>Mark</option>
                    <option value="Mercedes Benz">Mercedes Benz</option>
                    <option value="Audi">Audi</option>
                    <option value="BMW">BMW</option>
                    <option value="Jaguar">Jaguar</option>
                </select>
            </div>
        </li>
        <li>
            <div class="one-input">
                <select>
                    <option value="Model" selected disabled hidden>Model</option>
                    <option value="A4">A4</option>
                    <option value="A5">A5</option>
                    <option value="A3">A3</option>
                    <option value="Q7">Q7</option>
                </select>
            </div>
            <div class="one-input">
                <select>
                    <option value="Body" selected disabled hidden>Body</option>
                    <option value="Sedan">Sedan</option>
                    <option value="SUV">SUV</option>
                    <option value="Cabriolet">Cabriolet</option>
                    <option value="Break">Break</option>
                </select>
            </div>
        </li>
        <li>
            <div class="two-inputs">
                <select>
                    <option value="FromYear" selected disabled hidden>From year</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>
                <select>
                    <option value="ToYear" selected disabled hidden>To year</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                </select>
            </div>
            <div class="two-inputs">
                <select>
                    <option value="FromKm" selected disabled hidden>From km</option>
                    <option value="2020">50 000</option>
                    <option value="2021">100 000</option>
                </select>
                <select>
                    <option value="ToYear" selected disabled hidden>To km</option>
                    <option value="2021">125 000</option>
                    <option value="2022">150 000</option>
                </select>
            </div>
        </li>
        <li>           
            <div class="two-inputs">
                <select>
                    <option value="FromPrice" selected disabled hidden>From price</option>
                    <option value="2020">5 000</option>
                    <option value="2021">10 000</option>
                </select>
                <select>
                    <option value="ToPrice" selected disabled hidden>To price</option>
                    <option value="2021">12 000</option>
                    <option value="2022">15 000</option>
                </select>
            </div>
        </li>
    </ul>  
    <button class="search-btn"><i class="fas fa-search"></i> Search</button>
</div>
