<div class="container">
    <div class="left-menu">
        <div class="left-menu-header">
            <h1><i class="fas fa-user-edit"></i> Edit Account</h1>
        </div>
        <hr>
        <div class="left-menu-content">
            <a routerLink="/user-account/details-account">Details account</a>
            <a routerLink="/user-account/edit-username">Edit username</a>
            <a routerLink="/user-account/edit-name">Edit name</a>
            <a routerLink="/user-account/edit-phone">Edit phone</a>
            <a routerLink="/user-account/edit-country">Edit country</a>
        </div>
    </div>
    <div class="edit-box">
        <router-outlet></router-outlet>
    </div>
</div>