@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<div class="hero" style="margin-top:11rem;">
    <div class="form-box">
        <div class="button-box">
            <div id="btn"></div>
            <button type="button" class="toggle-btn" onclick="login()" style="color:white;">Log In</button>
            <button type="button" class="toggle-btn" onclick="register()" style="color:white;">Register</button>
        </div>
        <form id="login" class="input-group" style="color:white">
            <input type="text" class="input-field" style="color:white;" placeholder="User Id"
                   required />
            <input type="text" class="input-field" style="color:white" placeholder="Enter Password"
                   required />
            <input type="checkbox" class="check-box" style="margin-top:1rem;" /><span style="margin-top:0.6rem;">Remember Password</span>
            <button type="submit" class="submit-btn" style="color:white;margin-top:1rem;">Log in</button>
        </form>
        <form id="register" class="input-group" style="color:white">
            <input type="text" class="input-field" style="color:white" placeholder="User Id"
                   required />
            <input type="email" class="input-field" style="color:white" placeholder="Email"
                   required />
            <input type="text" class="input-field" style="color:white" placeholder="Enter Password"
                   required />
            <input type="checkbox" class="check-box" style="margin-top:1rem;"/><span style="margin-top:0.6rem;">I agree to the terms & conditions</span>
            <button type="submit" class="submit-btn" style="color:white; margin-top:1rem;">Register</button>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        var x = document.getElementById("login");
        var y = document.getElementById("register");
        var z = document.getElementById("btn");

        function register() {
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px"
        }
        function login() {
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0"
        }
    </script>
}
