<div class="edit-box-header">
    <h1>Edit name</h1>
</div>
<div class="edit-box-content">
    <label>First name</label>
    <input type="text" #firstName value="{{userService.user?.firstName}}"/>
    <button class="update-btn" (click)="onSubmit('/FirstName', firstName.value)"><i class="fas fa-arrow-up"></i> Update</button>
    <label>Last name</label>
    <input type="text" #lastName value="{{userService.user?.lastName}}"/>
    <button class="update-btn" (click)="onSubmit('/LastName', lastName.value)"><i class="fas fa-arrow-up"></i> Update</button>
</div>