<div class="edit-box-header">
    <h1>Details account</h1>
</div>
<div class="edit-box-content">
    <label>Username</label>
    <input type="text" value="{{userService.user.userName}}" readonly/>
    <label>Email</label>
    <input type="text" value="{{userService.user.email}}" readonly/>
    <label>First name</label>
    <input type="text" value="{{userService.user.firstName}}" readonly/>
    <label>Last name</label>
    <input type="text" value="{{userService.user.lastName}}" readonly/>
    <label>Phone number</label>
    <input type="text" value="{{userService.user.phoneNumber}}" readonly/>
    <label>Country</label>
    <input type="text" value="{{userService.user.country}}" readonly/>
</div>
